button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #D6FFD6;
}
h1 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
th {
	width: 150px;
}
#wrapper {
	padding: 30px;
  margin: 20px 0 30px;
  
}

#header {
	color: #D6FFD6;
  padding-bottom: 15px;
  /*margin: 20px 30px 30px;*/
  border-bottom: 1px solid black;
  background-color: #293329;
  /*display: inline;*/
  /*width: 940px;*/
  overflow: hidden;
  height: auto;
}


#header-title {
	float: left;
	margin-left: 30px;
}
  
#header-form {
	float: right;
	margin-top: 15px;

}

#main-content {
	padding: 30px;
  margin: 20px 0 30px;
	background-color: #A3CCA3;
	border: 1px solid #526652;
	border-radius: 10px;
}

#quote {
	color: red;
}

.table {
	/*background-color: white;*/
	border: 1px solid #3D4C3D;

}

#tablehead {
	color: #DBFFDB;
	background-color: #293329;
}

#tablebody {

}

#side-menu {

}

#footer {
  padding: 20px 30px 30px;
  /*margin: 20px 0 30px;*/
  border-top: 1px solid black;
  background-color: #293329;
  color: #D6FFD6;
}

#float {
	display: inline;
}
