/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.up {
	vertical-align: top;
}
.black {
	border-top: 1px solid black;
}
.focus_expand {
	height: 34px;
}
/*.focus_expand:focus {
	height: 150px;
}*/
textarea.my_text_field {
    height: 150px !important;
}
.my_text_field {
	width: 450px;
}
#align_right {
	float: right;
	margin-left: 5px;
}
#main_container {
	margin-top: 60px;
}
#form_control {
	width: 80%;
	display: inline-block;
}
.pic_sm {
	width: 250px;
}
#my_nav {
	/*background-image: #d6d322;*/
	background-color: #d6d322;
}
#my_nav a:hover {
	color: #f409ba;
}

#my_nav {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eef015), to(#d6d322));
  background-image: -webkit-linear-gradient(top, #eef015, 0%, #d6d322, 100%);
  background-image: -moz-linear-gradient(top, #d6d322 0%, #d6d322 100%);
  background-image: linear-gradient(to bottom, #eef015 0%, #d6d322 100%);
  background-repeat: repeat-x;
  border-color: #D6D6D6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef015', endColorstr='#d6d322', GradientType=0);
}
#my_sidebar {
	position: fixed;
	width: 12%;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 13px;
	margin-top: 25px;
}
.photo {
	margin-right: 5px;
}
.pic_sm {
	height: 150px;
	width: 150px;
}
.pic_sm img{
	height: 100%;
	width: 100%;
}

