/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.up {
	vertical-align: top;
}
.black {
	border-top: 1px solid black;
}
.focus_expand {
	height: 34px;
	margin-right: 5px;
}
/*.focus_expand:focus {
	height: 150px;
}*/
textarea.my_text_field {
    height: 150px !important;
}
.my_text_field {
	width: 450px;
}
#align_right {
	float: right;
}
#main_container {
	margin-top: 60px;
}
#form_control {
	width: 80%;
	display: inline-block;
}
.pic_sm {
	width: 250px;
}
