  <div class="col-md-8">
    <% if !signed_in?%>
    <% deny_access %>
    <% end -%>
      <h1>Listing photos</h1>
      <div class="row photos_row">
        <% @friend_pictures.each do |photo| %>
        <div class="photo">
          <div><%= link_to image_tag(photo.picture_url, :width => 150), photo_path(id: photo.id) %></div>
          <p><%= photo.name + " by " + photo.user.username%></p>
        </div>
        <% end %>
      </div>
      <br>



  </div>
  <div class="col-md-2"></div>
</div>
