<h1>Account history</h1>


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Transactions</a></li>
  <li><a href="#profile" data-toggle="tab">Add funds</a></li>
  <li><a href="#messages" data-toggle="tab">Withdraw</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
  	<p><br>Lorem ipsum</p>
  </div>
  <div class="tab-pane" id="profile">
  	<br>dolor sit
  </div>
  <div class="tab-pane" id="messages">
  	<br>amet
  </div>
</div>