<div class="row">
  <h1>Messages</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if signed_in? %>
      <% if @messages != nil %>
        <%= @messages.each do |m| %>
          <%= m.user_id %>
          <%= m.friend_id %>
          <%= m.message%>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
